/*
在主页面将其左边距设为负值，页面一开始就隐藏起来
*/
.sidabar{
    position:fixed;
    left:-300px;
    height:100vh;
    width:300px;
    z-index:99;
}

.main{
    position: absolute;
    top:0;
    bottom: 0;
    width:100%;
    min-height: 200vh;
    height:100%;
    overflow: hidden;/*将溢出属性设置为滚动条，覆盖滚动条下的全屏*/
    background-color:lightcyan;
    z-index:1;
}

.main>nav{
	background: linear-gradient(rgba(248,249,250,1.0),rgba(248,249,250,0.5));
	background: -webkit-linear-gradient(rgba(248,249,250,1.0),rgba(248,249,250,0.5));
	background: -o-linear-gradient(rgba(248,249,250,1.0),rgba(248,249,250,0.5));
	background: -moz-linear-gradient(rgba(248,249,250,1.0),rgba(248,249,250,0.5));
}
.main>nav button{
    min-width: 100px;
}

.main>nav>a{
    padding: 0;
    font-family: "simhei";
    font-weight: bold;
    font-size: 32px;
    font-style: italic;
    color:white!important;
    text-shadow: 2px 2px 4px black,0px 0px 2px black;
    transform: translateY(-2.5px)
}

.main>.sidabarButton{
    position: fixed;
    top:50vh;
    height:12vh;
    z-index:999;  
    padding: 0;
}
.main>.sidabarButton:hover{
    background-color: lawngreen;
}

.main>.sidabarButton>span{
    margin:0;
    line-height: 6vh;
    letter-spacing: 0;
    font-size: 5vh;
    font-weight: bold;
    letter-spacing: 0;
}

/*
进行侧边栏按钮切换的样式
*/
.sidabar-unfold{
    left:300px;
    width: 0.1vh;
    background-color: rgba(171, 228, 238, 0.1);
    color: green;
    text-align: left;
    border:none!important;
    box-shadow: none!important;
}
.sidabar-unfold>span{
    opacity: 1.0;
    animation:blink 1s infinite;
}
@keyframes blink{
    to{
        text-shadow: 4px 0px 4px lawngreen;
    }
}
.sidabar-fold{
    left:0px;
    width:3vh;
    color:white;
    text-align:center;
    margin: auto auto;
    background-color: olivedrab;
    border-radius:0 0.5vh 0.5vh 0;
}


.main>.jumbotron{
    background: rgba(236, 217, 217,0.23);
    border-radius:10px;
    margin:auto auto;
}

.main>.jumbotron .card .card-title:not(.Chinese-Text):first-letter{
    color:rgba(80, 158, 172, 0.8);
    font-family: 'Courier New', Courier, monospace;
    font-size: 26px;
    font-weight: bold;
}

.main>.right{
    position:fixed;
    top:50vh;
    right:5vh;
}

.main>.right>button{
    min-width:100px;
    font-family: "Comic Sans MS";
}

.main>.jumbotron .container>div>div:first-child .card-body>p::first-line{
    color:rgb(233, 195, 27);
    font-family:"Comic Sans MS";
}

/*
下面是footer的css样式
*/
.main>footer{
    background-color: blanchedalmond;
    /*最好能后面给颜色加上渐变*/
    
    position: absolute;
    /*
    设置为absolute绝对定位（使其始终位于长页面的最底部）
    而不是relative  （会让它显示在上一个元素的下面）
    */
    display: flex;
    justify-content: flex-end;
    overflow: initial;
    align-items: center;
    bottom:0;
    width: 100vw;
    min-height: 10vh;
    height:15vh;
    text-shadow: 2px 2px 4px #a09d9d;
    border: rgba(221, 200, 200,0.7) solid 2px;
    border-bottom: none;
}

.main>footer>div{
    display:inline-flex;
    margin:0 5vh;
    font-size: 54px;
}

.main>footer>.footer-left{
    display: inline-flex;
    margin:0 50vw 0 0 !important;
}

.main>footer .link{
    font-family: "You Yuan","幼圆",微软雅黑;
    font-size: 28px;
}

.mian>footer>div> span,span:hover{
    color:white!important;
    text-shadow: 2px 2px 4px gold;
}