.main{
    position: absolute;
    top:0;
    bottom: 0;
    width:100%;
    min-height: 200vh;
    height:100%;
    overflow: scroll;/*将溢出属性设置为滚动条，覆盖滚动条下的全屏*/
    background-color:lightcyan;
    z-index:1;
}

.main>nav{
    
}

.main>.sidabarButton{
    position: fixed;
    top:50vh;
    left:6vh;
    background-color: olivedrab;
    width:6vh;
    height:12vh;
    border-radius:0.5vh;
    text-align:center;
    line-height: 6vh;
    color:white;
    font-size: 5vh;
    font-weight: bold;
}
.main>.sidabarButton:hover{
    background-color: lawngreen;
}

.main>.jumbotron{
    background: rgba(236, 217, 217,0.23);
    border-radius:10px;
    margin:auto auto;
}

.main>.right{
    position:fixed;
    top:50vh;
    right:5vh;
}

.main>.right>button{
    min-width:100px;
}

.main>footer{
    background-color: blanchedalmond;
    /*最好能后面给颜色加上渐变*/
    
    position: relative;
    /*
    设置为relative（使其始终位于长页面的最底部）
    而不是absolute（会让它显示在初始的全屏页面的底部）
    */
    bottom:0;
    width: 100vw;
    min-height: 10vh;
    height:15vh;
    
    
}