*{
    padding:0;
    margin:0;
}

.sidabar{
    display:none;
    position:fixed;
    z-index:2;
    width:300px;
    /*
    因为没有父级高度。所以只能用100vh让侧边栏满屏幕高度
    */
    height:100vh;
    background: url("../images/雪地.png") no-repeat;
    /*
    让背景图片高度充满整个侧边栏（原背景图片高度过小）
    */
    background-size: auto 100%;
}

.sidabar>div>ul>li{
    /*
    list-group样式默认背景为白色，会挤压父级的图片背景，需取消
    */
    width:auto;
    background-color: rgba(206, 204, 204, 0.65);
    font-weight:bold;
    border-right: none;
}

.sidabar>div>.card{
    margin: 0 auto;
    width:18rem;
    top:3rem;
    background: none;
    border: none;
    /*
    设置背景颜色及其透明度
    */
    background-color:rgba(156, 156, 156, 0.5)
}

.sidabar>button{
    position: absolute;
    bottom:3vh;
    right:3vh;
 /*   margin: 5% auto auto 72%;*/
}

